h1{
    color: blue;
}
#d1{
    color: brown;
    text-align: center;
}
.c1{
    color: blueviolet;
    text-align: start;
}
#div{
    background-color: aqua;
    text-align: center;
}

/* Selectors */
/* Tag selctor */
/* id selector---- #    */
/* class selector----   .  */